html, body {
  display: flex;
  margin: 0;
  height: 100%; 
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 3.8rem;
}

.first-h1 {
  color: hsl(0, 36%, 70%);
  letter-spacing: 1.5rem;
  font-weight: 300;
}

.second-h1, .third-h1 {
  color: hsl(0, 6%, 24%);
  font-weight: 700;
  letter-spacing: 1.8rem;
}

p {
  color: hsl(0, 36%, 70%);
  line-height: 2;
  word-spacing: 4px;
  width: 85%;
}

.left-side-portion {
  text-align: left;
  background: url(./images/bg-pattern-desktop.svg) top left / 57% 100% no-repeat, linear-gradient(
    135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-size: cover;
}

.logo-section {
  margin: 8% 20% 1%;
}

.description-section {
  margin: 1% 20% 12%;

}

.right-portion-background {
  padding: 0;
}

.right-portion-image {
  height: 100vh;
  width: 100%;
}

.email-address-input {
  position: relative;
}

.email-form {
  background: transparent;
  padding: 3%;
  border-radius: 2rem;
  border-color: hsl(0, 36%, 70%);
  width: 75%;
}

.email-form:hover {
  border-color: hsl(0, 66%, 75%);
}

.email-form::placeholder {
  color: hsl(0, 36%, 70%);
}

.email-button {
  position: absolute;
  top: 0;
  right: 130px;
  border: none;
  border-radius: 2rem;
  width: 6.5rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 10px 10px hsl(0, 74%, 74%, 0.25);
  cursor: pointer;
}

.email-button:hover {
  background: hsl(0, 70%, 86%);
}

/* Email error */

.error-input {
  border: 1px solid red;;
}

.error-icon-img {
  position: absolute;
  display: none;
}

.error-message {
  color: #eb130f;
  display: none;
}

.show {
  display: block;
}

/* Favicon symbol */

.fa-chevron-right {
  color: white;
}

/* Media Queries */
@media screen and (max-width: 860px) {
  .second-h1 {
    position: relative;
    right: 65px;
  }
  .error-icon-img {
    left: 130px;
    height: 25px;
    bottom: 43px;
  }
  .error-message {
    position: relative;
    bottom: 10px;
    font-size: .8rem;
  }
}
@media screen and (min-width: 375px) {
  .email-button {
    height: 39px;
    left: 160px;
  }
}

@media screen and (min-width: 860px) {
  .email-button {
    height: 41px;
    left: 210px;
  }
  .error-icon-img {
    left: 170px;
    height: 25px;
    bottom: 50px;
  }
  .error-message {
    position: relative;
    bottom: 10px;
    font-size: .9rem;
  }
}

@media screen and (min-width: 1024px) {
  .email-button {
    height: 47px;
    left: 280px;
  }
  .error-icon-img {
    left: 240px;
    height: 26px;
    bottom: 52px;
  }
}

@media screen and (min-width: 1224px) {
  .email-button {
    height: 50px;
    left: 320px;
  }
  .error-icon-img {
    left: 280px;
    height: 28px;
    bottom: 54px;
  }
}

@media screen and (min-width: 1377px) {
  .email-button {
    height: 52px;
    left: 380px;
  }
  .error-icon-img {
    left: 340px;
    height: 30px;
    bottom: 56px;
  }
} 
@media screen and (min-width: 1606px) {
  .email-button {
    height: 57px;
    left: 440px;
  }
  .error-icon-img {
    left: 390px;
    height: 32px;
    bottom: 58px;
  }
}

@media screen and (min-width: 1771px) {
  .email-button {
    height: 62px;
    left: 480px;
  }
  .error-icon-img {
    left: 430px;
    height: 35px;
    bottom: 60px;
  }
}